@font-face {
    font-family: "opensans";
    src: url(fonts/opensans-variablefont_wdthwght-webfont.woff) format("woff");
    src: url(fonts/opensans-variablefont_wdthwght-webfont.woff2) format("woff2");
}
body{
    background-color: black;
    opacity: 100;
}
h1{
    color:white;
    font-family: 'opensans';
    font-weight:normal;
    font-style:normal;
}
p{
    color: white;
    font-family: ;
    font-family: 'opensans';
    font-weight:normal;
    font-style:normal;
}
