@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
   background-color: black;
   overflow:hidden;
  }
h1{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    font-style:normal;
}
p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    font-style:normal;
    text-align: justify;
}
div{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    font-style:normal;
    text-align: justify;
}
  #gradient{
    background-color: black;
  }
  #logo{
    background-image: url('assets/img2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.bold{
  font-weight: bold;
}
